main {
    section {
        display: flex;
        justify-content: center;
        padding: 20px;

        .login-card {
            background-color: #f2f2f2;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: fit-content;
            height: 350px;
            padding: 35px;
            border-radius: 10px;
            border: 1px solid hsl(0, 0%, 90%);
            box-shadow: 0 5px 8px 3px hsla(0, 0%, 0%, 0.1);

            > h1 {
                margin-bottom: 20px;
                color: #3F37C9;
            }

            > form {
                display: flex;
                flex-direction: column;
                gap: 5px;

                > input[type=email], input[type=password] {
                    background-color: white;
                    border: 1px solid hsla(0, 0%, 0%, 0.1);
                    padding: 10px;
                    width: 350px;
                }

                .sign-in {
                    background-color: #007BFF;
                    color: white;
                    padding: 10px;
                    border: none;
                    cursor: pointer;
                    margin-bottom: 10px;
                    &:hover {
                        background-color: hsl(211, 100%, 40%);
                    }
                }
            }
        }
    }
}